.searchBar {
    position: relative;
  }
  
  .searchBarInput {
    background-color: var(--clearButton);
    width: 314px;
    height: 45px;
    margin-top: 50px;
    padding-left: 30px;
    border-radius: 5px;
  }
  
  .searchIcon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 63%;
    left: 5px;
  }