.choices {
    width: 270px;
    height: 75px;
    background-color: var(--paleGreen);
    border-radius: 23px;
    border: 1px solid black;
    text-align: center;
    margin-top: 5%;
    font: "Figtree";
    font-weight: 500;
    font-size: 18px;
  }
  
  .choices:hover {
    width: 270px;
    height: 75px;
    background-color: var(--lightGreen);
    border-radius: 23px;
    border: 1px solid black;
    text-align: center;
    margin-top: 5%;
    font: "Figtree";
    font-weight: 500;
    font-size: 18px;
  }
  
  .setup {
    width: 350px;
    height: 255px;
    background-color: var(--midGreen);
    border-radius: 23px;
    position: relative;
    z-index: 2;
  }
  .action {
    width: 328px;
    height: 133px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--paleGreen);
    position: absolute;
    margin-top: 356px;
    margin-left: 1px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .setupButton {
    width: 83px;
    height: 30px;
    border: 1px solid black;
    border-radius: 14.21px;
    text-align: center;
  }
  
  .skipButton {
    background-color: var(--paleGreen);
  }
  
  .skipButton:hover {
    background-color: var(--darkGreen);
    color: var(--white);
  }
  
  .nextButton {
    background-color: var(--white);
  }
  .nextButton:hover {
    background-color: var(--darkGreen);
    color: var(--white);
  }
  
  .question {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .question p {
    color: var(--white);
    font-weight: 600;
    font-size: 20px;
    line-height: 28.5px;
    font: "Figtree";
    text-align: center;
    flex: 1;
    padding: 0px 15px;
  }
  
  