.Cards {
  display: flex;
  flex-direction: column;
  width: 353px;
  height: 360px;
  align-items: center;
  margin-bottom: 60px;
}

.imageContainer {
  position: relative;
}

.cardImage {
  border-radius: 2rem;
  width: 365px;
  height: 190px;
  z-index: 99999;
  align-content: center;
}

.favoriteBTN {
  position: absolute;
  width: 44px;
  height: 28px;
  background-color: rgba(221, 229, 214, 0.3);
  margin-top: 10px;
  padding-top: 2px;
  border: none;
  margin-left: -58px;
  border-radius: 135px;
}

.favoriteIcon:hover {
  fill: #71a183;
  transition: fill 0.3s ease;
  cursor: pointer;
}


.favoriteIconClicked {
  fill: var(--black);
}

.favoriteIconClicked::after {
  fill: #71a183;
}

.cardInfo {
  width: 353px;
  border-radius: 20px;
  margin-top: -15px;
  background-color: var(--lightYellow);
  text-align: left;
}

.popup {
  width: 355px;
  height: 65px;
  position: fixed;
  left: 50%;
  border-radius: 20px;
  bottom: 90px;
  transform: translateX(-50%);
  background-color: var(--lightGreen);
  z-index: 100000000;
}

.popupContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 5px;
}

.joinContent {
  display: flex;
  align-items: center;
}

.viewContent {
  display: flex;
  align-items: center;
}

.viewContent>* {
  text-decoration: none;
  color: inherit;
}

.angleRight {
  padding-top: 5px;
}

.headInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.joinButton {
  width: 70px;
  height: 25px;
  margin-right: 15px;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--lightYellow);
  border: 2px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  /* margin-top: 40px; */
}

.joinButton:hover {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--black);
}

.h2 {
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 3px;
  font-size: 24px;
}

.description {
  font-weight: 500;
  font-size: 13px;
  padding: 0px 20px;
}

.generalInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.generalInfo span {
  font-weight: 500;
  font-size: 13px;
}

.description {
  text-align: left;
}