.Cards {
  display: flex;
  flex-direction: column;
  width: 353px;
  height: 360px;
  align-items: center;
  margin-bottom: 60px;
}

.imageContainer {
  position: relative;
}

.cardImage {
  border-radius: 2rem;
  width: 365px;
  height: 190px;
  z-index: 99999;
  align-content: center;
}

.favoriteBTN {
  position: absolute;
  width: 44px;
  height: 28px;
  margin-top: 12px;
  margin-left: -58px;
  border-radius: 135px;
}

.favoriteIconClicked {
  color: black;
}

.cardInfo {
  width: 353px;
  border-radius: 20px;
  margin-top: -15px;
  background-color: var(--lightYellow);
  text-align: left;
}

.popup {
  width: 350px;
  height: 62px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--lightGreen);
}

.popupContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.joinContent {
  display: flex;
  align-items: center;
}

.viewContent {
  display: flex;
  align-items: center;
}

.viewContent>* {
  text-decoration: none;
  color: inherit;
}

.headInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.joinButton {
  width: 66px;
  height: 22px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--lightYellow);
  border: 1px solid var(--black);
  border-radius: 5px;
  /* margin-top: 40px; */
}

;

.joinButton:hover {
  width: 66px;
  height: 22px;
  margin-right: 10px;
  font-weight: 500;
  font-size: 13px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  border-radius: 5px;
  /* margin-top: 40px; */
}

.h2 {
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 3px;
  font-size: 24px;
}

.description {
  font-weight: 500;
  font-size: 13px;
  padding: 0px 20px;
}

.generalInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.generalInfo span {
  font-weight: 500;
  font-size: 13px;
}

.description {
  text-align: left;
}