
.chipCard {
    width: 5rem;
    height: 1.5rem;
    text-align: center;
    background-color: var(--lightGreen);
    border-color: var(--lightGreen);
    border-radius: 5px;
    margin: 7px;
    flex: 0 0 auto;
    white-space: nowrap;
  }
  .chipCard:hover {
    background-color: var(--darkGreen);
    border-color: var(--darkGreen);
    color: var(--white);
  }
  
  .chipCard:active {
    background-color: var(--darkGreen);
    color: var(--white);
  }
