<!DOCTYPE html>
<html>
<head>
<style>
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.chip-card {
    width: 3rem;
    height: 1.5rem;
    text-align: center;
    background-color: var(--lightYellow);
}

</style>
</head>
<body>

<h1>The button element - Styled with CSS</h1>
<p>Change the background color of a button with the background-color property:</p>

<button class="chip-card" type="submit">Biking</button>
<!-- <button class="chip-card">Blue</button> -->

</body>
</html>