.largeButton {
  position: relative; 
  width: 350px;
  height: 50px;
  background-color: var(--paleGreen);
  border-radius: 14px;
  text-align: left;
  color: var(--black);
  font-size: 18px;
  font-weight: 300;
  transition: background-color 0.3s ease;
  border: 2px solid var(--paleGreen);
  cursor: pointer;
}

.largeButton:hover {
  background-color: var(--lightGreen);
  border: 2px solid var(--paleGreen);
}

.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--darkGreen);
  z-index: 1; 
}
