.main {
    width: 346px;
    height: 435px;
    border-radius: 23px;
    background-color: var(--midGreen);
  }
  
  .content {
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
  }
  
  .counter {
    width: 93px;
    height: 25px;
    border-radius: 23px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--paleGreen);
  }
  
  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--lightGreen);
  }
  
  .activeCircle {
    background-color: var(--midGreen);
  }
  
  .titleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .icon {
    width: 130px;
    height: 120px;
  }
  
  .iconTitle {
    font-weight: 600;
    font-size: 24px;
  }
  
  .content > p {
    width: 295px;
    text-align: center;
  }
  
  .functionContent {
    display: flex;
    width: inherit;
    justify-content: space-evenly;
  }
  
  .functionBTN {
    width: 77px;
    height: 25px;
    font-weight: 500;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid var(--black);
  }
  
  .backBTN {
    color: var(--black);
    background-color: var(--midGreen);
  }
  
  .backBTN:disabled {
    color: var(--clearButton);
    border: 1px solid var(--clearButton);
  }
  
  .skipBTN {
    color: black;
    background-color: var(--paleGreen);
  }
  
  .nextBTN {
    background-color: var(--white);
  }