.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    font-family: "Figtree", sans-serif;
}

.menuIcon {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    text-align: center;
}

.contWrapper {
    margin-top: 30px;
    width: 100%;
    overflow-x: auto;
}

/* Media query for smaller screens */
@media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {}

/* Media query for larger screens */
@media only screen and (min-width: 1024px) {

    .menuIcon {
        position: absolute;
        top: 30px;
        right: 650px;
        cursor: pointer;
    }

    .contWrapper {
        max-width: 430px;
        overflow-x: auto;
    }
}