
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  font-family: "Figtree", sans-serif;
}

.menuIcon {
  position: absolute;
  top: 40px;
  right: 30px;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.heading {
  font-weight: 600;
  font-size: 24px;
  font: "Figtree";
}

.h3 {
  text-align: left;
  margin-right: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

/* Media query for smaller screens */
@media (max-width: 428px) {
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  .menuIcon {
    position: absolute;
    top: 30px;
    right: 650px;
    cursor: pointer;
  }
}

