.main {
  display: flex;
  font-family: "Figtree", sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 80vh;
  background-image: url('/images/landing-page.jpeg');
  background-size: cover;
  background-position: center top;
}

.appName {
  margin-bottom: 20px;
  font-family: "Wendy One", sans-serif;
  font-size: var(--h1-fontsize);
  font-weight: 700;
  font-style: bolder;
}

.container {
  margin: 0 auto;
  text-align: center;
}

/* Buttons & Hover Effect */
.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 40px;
}

/* Styles for buttons */
.button,
.buttonTwo {
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 25px;
  font-size: var(--button-fontsize);
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.buttonTwo {
  padding: 15px 40px;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid var(--darkGreen);
  background-color: var(--darkGreen);
  color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
}

.buttonTwo:hover {
  background-color: var(--clear-button);
  color: var(--black);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Media query for smaller screens */
@media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  .main {
    background-image: url('/images/landing-page.jpeg');
    background-size: cover;
    background-position: center top;
  }
}

/* Media query for larger screens */
@media only screen and (min-width: 1024px) {
  .main {
    background-image: url('/images/landing-page.jpeg'), linear-gradient(to bottom, var(--lightYellow), var(--lightGreen));
    background-repeat: no-repeat;
    background-position: center top, center;
    background-size: contain;
  }
}