.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    font-family: "Figtree", sans-serif;
    position: relative;
  }

.menuIcon {
  position: fixed;
  top: 30px;
  margin-left: 150px;
  z-index: 100000;
  cursor: pointer;

}

.container {
  margin: 0;
  text-align: center;
}
.chartsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: auto;
    margin-bottom: 100px;
}

.doughnutChart,
.pieChart {
    text-align: center;
    background-color: rgba(221, 229, 214, 0.3);
    border-radius: 15px;
    padding: 10px;
    padding-bottom: 25px;
    max-width: 300px;
    margin: 0 auto;
}


.contentWrapper {
    flex-grow: 1;
    width: 430px;
    max-height: 932px; 
    background-color: var(--white);
    overflow-y: auto;
  }

.chartsWrapper h2 {
    margin-top: 60px;
}

.chartsWrapper p {
    margin-bottom: 0px;
    margin-top: -20px;
}

/* Media query for smaller screens (iPhone 14 Pro Max) */
@media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .main {
        max-height: 932px;
        overflow: hidden;
      }
       

    .contentWrapper {
        width: 430px;
        overflow-y: auto;
    }

    .menuIcon {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
}

/* Media query for larger screens (Desktop) */
@media only screen and (min-width: 1024px) {
    .main {
        background: linear-gradient(to bottom, var(--lightYellow), var(--lightGreen));
        position: relative;
        max-height: 932px;
        overflow: hidden;
      }

    .chartsWrapper {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contentWrapper {
        max-width: 430px;
        position: relative;
        max-height: 932px;
        background-color: var(--white);
        overflow-y: auto;
      }

    .chartsWrapper h2 {
        margin-top: 60px;
    }

    .chartsWrapper p {
        margin-bottom: 0px;
        margin-top: -20px;
    }

    .doughnutChart,
    .pieChart {
        width: 430px;
    }
}
