.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    font-family: "Figtree", sans-serif;
    position: relative;
  }
  
  .menuIcon {
    position: fixed;
    top: 30px;
    margin-left: 150px;
    z-index: 100000;
    cursor: pointer;

  }
  
  .container {
    margin: 0;
    text-align: center;
    max-height: 932px;
    overflow: hidden;
  }

  .contentWrapper {
    flex-grow: 1;
    width: 430px;
    max-height: 932px;
    background-color: var(--white);
    overflow-y: auto;
  }
  
  /* Media queries */
  @media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
  
    .contentWrapper {
      width: 430px;
      background-color: var(--white);
      max-height: 2000px;
    }
  
    .container {
      margin: 0;
      text-align: center;
    }
  
  }
  
  @media only screen and (min-width: 1024px) {
    .main {
      background: linear-gradient(to bottom, var(--lightYellow), var(--lightGreen));
      position: relative;
      max-height: 932px; 
      overflow: hidden;
    }
  
    .contentWrapper {
      max-width: 430px;
      position: relative;
      background-color: var(--white);
      overflow-y: auto; 
    }
  

  }
  