.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 80vh;
  font-family: "Figtree", sans-serif;
}

.menuIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.cards {
  margin-top: 65px;
}

.h3 {
  text-align: left;
  margin-right: 20px;
}

.chipsWrapper {
  margin-top: 100px;
  width: 100%;
  overflow-x: auto;
}

.chips {
  display: flex;
  justify-content: center;
}