.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    font-family: "Figtree", sans-serif;
}

.contentWrapper {
    width: 430px;
    height: 932px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
}

/* Media query for smaller screens */
@media (max-width: 428px) {}

/* Media query for larger screens */
@media (min-width: 1024px) {
    .main {
        background: linear-gradient(to bottom, var(--lightYellow), var(--lightGreen));
    }

    .menuIcon {
        position: absolute;
        top: 30px;
        right: 650px;
        cursor: pointer;
    }
}