.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 80vh;
  }

.lgBtn {
    align-items: center;
}

.profileImg {
    border-radius: 50px;

}