.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80vh;
    font-family: "Figtree", sans-serif;
}

.container {
    margin: 0;
    text-align: center;
}

.contentWrapper {
    width: 430px;
    height: 932px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    position: absolute;
    top: 40px;
    right: 30px;
    cursor: pointer;
    z-index: 1;
}

.profileImg {
    border-radius: 50%;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.profileCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.lgBtnCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

/* Media query for smaller screens */
@media only screen and (min-device-width: 428px) and (max-device-width: 926px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .menuIcon {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 1;
    }
}

/* Media query for larger screens */
@media only screen and (min-width: 1024px) {
    .main {
        background: linear-gradient(to bottom, var(--lightYellow), var(--lightGreen));
        position: relative;
    }

    .menuIcon {
        position: fixed;
        top: 30px;
        right: 650px;
        cursor: pointer;
        z-index: 1;
    }
}